<div class="image-container">
  <img src="/assets/image/intro.jpg" class="pt-5" style="width: 100%; height: 900px; display: block; filter: blur(3px);">
  <div class="cards-container">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Trova</h5>
        <hr class="my-4" style="border-top: 1px solid black;">
        <p class="card-text">Con EasyMatch hai la possibilità di creare partite private con amici, renderle pubbliche per trovare compagni o cercare partite attive a cui unirti</p>
      </div>
    </div>

    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Prenotazione</h5>
        <hr class="my-4" style="border-top: 1px solid black;">
        <p class="card-text">Con il nostro sistema di valutazione del livello, avrai sempre partite adatte a te, affinchè tu possa migliorare velocemente ed essere più competitivo</p>
      </div>
    </div>

    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">La nostra community ci ispira</h5>
        <hr class="my-4" style="border-top: 1px solid black;">
        <p class="card-text">Entra a far parte della community di giocatori di tennis e padel in costante crescita più grande al mondo, per giocare con amici o sconosciuti quando vuoi</p>
      </div>
    </div>
  </div>
</div>
