/* Stili per la card utente */
.user-card {
  background-color: #f8f9fa; /* Colore chiaro per il background */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Leggera ombra */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-left: 5px solid #007bff; /* Bordo blu per differenziare */
  border-radius: 5px; /* Angoli arrotondati */
}

/* Stili quando la card è in hover */
.user-card:hover {
  transform: scale(1.02); /* Effetto hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Ombra più evidente */
}

/* Stili per la card dell'utente bannato */

.user-card.bg-danger {
  background-color: #fae2e4 !important;
}
/* Aggiungi uno stile per i pulsanti selezionati */
.selected {
  background-color: #007bff;
  color: white;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dialog button {
  margin: 5px;
}
/* Pulsante con freccia verso l'alto (Crescente) */
.btn-light {
  background-color: #f8f9fa;
  color: black;
}

.btn-light:focus {
  outline: none;
}

.btn-light:hover {
  background-color: #e2e6ea;
}

/* Stile per il primo clic */
.btn-first-click {
  background-color: greenyellow;
  color: black;
}

/* Stile per il secondo clic */
.btn-success {
  background-color: #28a745;
  color: white;
}

/* Stile per il terzo clic */
.btn-primary {
  background-color: #007bff;
  color: white;
}



.user-card.bg-danger .card-text p {
  color: red; /* Testo in rosso scuro per gli utenti bannati */
}

.user-card.bg-danger .card-text h6 {
  color: #842029; /* Colore titolo in rosso scuro */
}

/* Testo e bordi generali */
.card-text h6 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text p {
  font-size: 0.85rem;
  color: #6c757d; /* Grigio scuro */
}

/* Immagine del profilo */
.card-image img {
  border: 2px solid #dee2e6; /* Bordo sottile */
  border-radius: 50%; /* Forma circolare */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-image img:hover {
  transform: scale(1.1); /* Leggero zoom sulla foto */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); /* Ombra più evidente */
}

/* Pulsante Gestisci */
.btn-primary {
  background-color: #007bff; /* Blu standard */
  border: none; /* Rimuove il bordo */
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-primary:hover {
  background-color: #0056b3; /* Blu più scuro */
  transform: scale(1.05); /* Leggero ingrandimento al passaggio del mouse */
}
