

<div class="container overflow-hidden text-center mt-custom">
  <div class="row gy-5">

    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card mx-auto" style="width: 90%;">
        <img ngSrc="/assets/image/vista2.jpg" class="card-img-top" style="height: 300px; object-fit: cover;" alt="..."
             height="1152" width="2048">
        <div class="card-body">
          <h5 class="card-title">Prenota un campo</h5>
          <p class="card-text">Hai già un avversario? Prenota facilmente il tuo campo preferito e preparati ad entrare in campo!</p>
          <button routerLink="/book-field" class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card mx-auto" style="width: 90%;">
        <img ngSrc="/assets/image/partita.jpg" class="card-img-top" style="height: 300px; object-fit: cover;" alt="..."
             height="2832" width="4256">
        <div class="card-body">
          <h5 class="card-title">Gioca una partita</h5>
          <p class="card-text">Pronto per una nuova sfida? Cerca un avversario del tuo stesso livello e dimostra il tuo valore sul campo!</p>
          <button class="btn"><i class="fa-solid fa-table-tennis-paddle-ball"></i></button>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card mx-auto" style="width: 90%;">
        <img ngSrc="/assets/image/lezione.jpg" class="card-img-top" style="height: 300px; object-fit: cover;" alt="..."
             height="1667" width="2500">
        <div class="card-body">
          <h5 class="card-title">Prenota una lezione</h5>
          <p class="card-text">Migliora le tue abilità con una lezione personalizzata! Scegli un istruttore e trova il momento perfetto per allenarti</p>
          <button class="btn"><i class="fa-solid fa-book"></i></button>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card mx-auto" style="width: 90%;">
        <img ngSrc="/assets/image/torneo.jpg" class="card-img-top" style="height: 300px; object-fit: cover;" alt="..."
             height="650" width="1200">
        <div class="card-body">
          <h5 class="card-title">Iscriviti a un torneo</h5>
          <p class="card-text">Metti alla prova le tue abilità sfidando i giocatori più forti e conquista il titolo!</p>
          <button class="btn"><i class="fa-solid fa-trophy"></i></button>
        </div>
      </div>
    </div>

  </div>
</div>
