<div class="container overflow-hidden text-center mt-custom">
  <div class="row gy-5">

    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card mx-auto" style="width: 90%;">
        <img ngSrc="/assets/image/vista2.jpg" class="card-img-top" style="height: 300px; object-fit: cover;" alt="..."
             height="1152" width="2048">
        <div class="card-body">
          <h5 class="card-title">Gestione Prenotazioni</h5>
          <button [routerLink]="['/fields', todayDate]" class="btn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card mx-auto" style="width: 90%;">
        <img ngSrc="/assets/image/partita.jpg" class="card-img-top" style="height: 300px; object-fit: cover;" alt="..."
             height="2832" width="4256">
        <div class="card-body">
          <h5 class="card-title">Gestione Utenti</h5>
          <button routerLink="/users" class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card mx-auto" style="width: 90%;">
        <img ngSrc="/assets/image/torneo.jpg" class="card-img-top" style="height: 300px; object-fit: cover;" alt="..."
             height="650" width="1200">
        <div class="card-body">
          <h5 class="card-title">Gestione Tornei</h5>
          <button routerLink="/tournaments" class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </div>
    </div>

  </div>
</div>
