h1 {
  color: #e6e6e6;
  font-size: 3.5rem;
  font-family: Calibri, serif;
  text-align: left;
  width: 70%;
}

p {
  font-size: 0.9rem;
  color: #ffffff;
  text-align: left;
  font-family: Calibri Leelawadee, sans-serif;
}

.image-container {
  position: relative;
}

.shadow-lg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 80%;
  z-index: 1;
  flex-direction: column;
  text-align: left;
  background-color: rgba(0, 3, 18, 0.49);
}
