/* Rettangolo blu che copre solo fino ai tennisti */
.blue-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px; /* Altezza per coprire solo fino ai tennisti */
  background-color: #020940;
  z-index: -1; /* Posiziona il rettangolo blu dietro il contenuto */
}

/* Contenitore principale per la sezione dei giocatori */
.players {
  position: relative;
  text-align: center;
  height: 400px; /* Altezza per dare spazio alle immagini */
  z-index: 1; /* Assicurati che il contenuto sia sopra il rettangolo blu */
}


/* Tennista a sinistra */
.player-left {
  position: absolute;
  bottom: 0;
  left: 10%;
  height: 200px; /* Altezza dell'immagine del tennista */
  animation: slideInLeft 1s ease-out;
}

/* Tennista a destra */
.player-right {
  position: absolute;
  bottom: 0;
  right: 10%;
  height: 200px; /* Altezza dell'immagine del tennista */
  animation: slideInRight 1s ease-out;
}


/* Scritta "Admin" con effetto macchina da scrivere */
.typing {
  font-size: 5rem;
  font-family: 'Gridink Extra Bold Oblique', sans-serif; /* Usa il nuovo font */
  font-weight: bold;
  color: white;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  position: relative;
  animation: fadeInOut 3s ease-in-out infinite, typingScroll 4s steps(10) 1s forwards;
}

/* Animazione Fade in/out per il testo */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Animazione di cancellazione (effetto macchina da scrivere che cancella la parola tranne la A) */
@keyframes erase {
  0% {
    width: 5ch;
  }
  50% {
    width: 1ch; /* Mantiene solo la "A" visibile */
  }
  100% {
    width: 1ch; /* Mantiene solo la "A" visibile */
  }
}

/* Effetto lampeggiante del cursore */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Pallina da tennis */
.ball {
  position: absolute;
  top: 200px; /* Sposta la pallina 200px sotto il top della pagina */
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: auto;
  animation: bounce 2s infinite;
}

/* Animazione Bounce per la pallina */
@keyframes bounce {
  0%, 100% {
    transform: translate(-50%, -50%) translateY(0); /* Partenza e ritorno alla posizione centrale */
  }
  40% {
    transform: translate(-50%, -50%) translateY(+30px); /* Pallina si sposta sopra */
  }
}

/* Animazioni slide per i tennisti */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
