
<div class="players">
  <!-- Tennista a sinistra -->
  <img src="/assets/home-welcome/boy_left.png" alt="ragazzo tennis" class="player player-left">

  <!-- Divisore centrale con scritta e immagini -->
  <div class="divider">
    <div class="center-content">
      <h2 class="divider-title">BENTORNATO</h2>
      <div class="center-images">
        <img src="/assets/home-welcome/rack.png" alt="racchetta da tennis" class="rack">
        <img src="/assets/home-welcome/ball.png" alt="pallina da tennis" class="ball">
      </div>
    </div>
  </div>

  <!-- Tennista a destra -->
  <img src="/assets/home-welcome/girl_right.png" alt="ragazza tennis" class="player player-right">
</div>
