/* Container principale */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Immagine centrata e rimpicciolita */
.image-container img {
  max-width: 30%; /* Riduci l'immagine */
  height: auto;
  border-radius: 10px; /* Angoli arrotondati */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Aggiungi ombra leggera */
  margin-bottom: 30px; /* Distanza tra l'immagine e le informazioni */
}

/* Dettagli del campo */
.field-details {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  transition: transform 0.3s ease; /* Animazione quando l'utente passa sopra */
}

.field-details:hover {
  transform: scale(1.02); /* Aumenta leggermente la dimensione quando l'utente passa sopra */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Aggiungi ombra più marcata al passaggio del mouse */
}

/* Nome del campo */
.field-name {
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
}

/* Testo delle informazioni */
.field-details p {
  font-size: 1rem;
  color: #555;
}

.field-details h5 {
  font-size: 1.1rem;
  color: #444;
  margin-top: 10px;
}

.field-details strong {
  color: #333;
}
