/* Navbar personalizzata */
.navbar-custom {
  background-color: #020940; /* Colore di sfondo personalizzato */
  color: white; /* Colore del testo */
}

/* Contenitore flessibile per logo e icona profilo */
.d-flex {
  display: flex;
  align-items: center; /* Allinea l'icona e il logo verticalmente */
}

/* Spazio tra l'icona del profilo e il logo */
.me-3 {
  margin-right: 15px; /* Spazio tra il profilo e il logo */
}

/* Posizionamento del logout a destra */
.ms-auto {
  margin-left: auto; /* Spinge il logout a destra */
}

/* Stile per l'icona del profilo */
.btn-profile i {
  font-size: 1rem; /* Dimensione dell'icona */
  color: white; /* Colore predefinito giallo */
  transition: color 0.3s ease; /* Transizione per un effetto fluido */
}

/* Hover sull'icona del profilo */
.btn-profile:hover i {
  color: greenyellow; /* Cambia colore a bianco quando si passa sopra */
}

/* Stile per l'icona del logout */
.btn-logout i {
  font-size: 1.5rem; /* Dimensione dell'icona */
  color: white; /* Colore predefinito bianco */
  transition: color 0.3s ease; /* Transizione per un effetto fluido */
}

/* Hover sull'icona del logout */
.btn-logout:hover i {
  color: red; /* Cambia colore a rosso quando si passa sopra */
}

/* Stile globale per rimuovere sfondi e bordi dai pulsanti */
button.btn {
  background: none; /* Nessuno sfondo */
  border: none; /* Nessun bordo */
  padding: 0; /* Nessun padding */
  display: flex;
  align-items: center; /* Centra il contenuto verticalmente */
}
