<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <!-- Burger button per aprire la sidebar -->
    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse">
      <div class="hstack">
        <!-- Logo a sinistra -->
        <div class="ms-2">
          <img src="/assets/home-welcome/EasyMatchLogo.png" alt="Logo" style="width: 120px; height: auto;">
        </div>
      </div>

      <!-- Lista di navigazione per i pulsanti Profilo e Logout -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button class="btn btn-primary" routerLink="/profile">
            Profilo
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-danger" (click)="logout()">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-sidebar></app-sidebar>
