--
-- PostgreSQL database dump
--

-- Dumped from database version 17.2
-- Dumped by pg_dump version 17.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin; Type: TABLE; Schema: public; Owner: nando
--

CREATE TABLE public.admin (
    id integer NOT NULL,
    nome character varying(100),
    cognome character varying(100),
    email character varying(255),
    password character varying(255)
);


ALTER TABLE public.admin OWNER TO nando;

--
-- Name: admin_id_seq; Type: SEQUENCE; Schema: public; Owner: nando
--

CREATE SEQUENCE public.admin_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admin_id_seq OWNER TO nando;

--
-- Name: admin_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nando
--

ALTER SEQUENCE public.admin_id_seq OWNED BY public.admin.id;


--
-- Name: campo; Type: TABLE; Schema: public; Owner: nando
--

CREATE TABLE public.campo (
    id integer NOT NULL,
    tiposport character varying(100),
    superficie character varying(100)
);


ALTER TABLE public.campo OWNER TO nando;

--
-- Name: campo_id_seq; Type: SEQUENCE; Schema: public; Owner: nando
--

CREATE SEQUENCE public.campo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.campo_id_seq OWNER TO nando;

--
-- Name: campo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nando
--

ALTER SEQUENCE public.campo_id_seq OWNED BY public.campo.id;


--
-- Name: giocatore; Type: TABLE; Schema: public; Owner: nando
--

CREATE TABLE public.giocatore (
    id integer NOT NULL,
    nome character varying(100),
    cognome character varying(100),
    username character varying(100),
    password character varying(255),
    email character varying(255),
    numero character varying(50),
    immagine_profilo character varying(255),
    livello integer
);


ALTER TABLE public.giocatore OWNER TO nando;

--
-- Name: giocatore_id_seq; Type: SEQUENCE; Schema: public; Owner: nando
--

CREATE SEQUENCE public.giocatore_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.giocatore_id_seq OWNER TO nando;

--
-- Name: giocatore_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nando
--

ALTER SEQUENCE public.giocatore_id_seq OWNED BY public.giocatore.id;


--
-- Name: maestro; Type: TABLE; Schema: public; Owner: nando
--

CREATE TABLE public.maestro (
    id integer NOT NULL,
    nome character varying(100),
    cognome character varying(100),
    email character varying(255),
    password character varying(255)
);


ALTER TABLE public.maestro OWNER TO nando;

--
-- Name: maestro_id_seq; Type: SEQUENCE; Schema: public; Owner: nando
--

CREATE SEQUENCE public.maestro_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.maestro_id_seq OWNER TO nando;

--
-- Name: maestro_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nando
--

ALTER SEQUENCE public.maestro_id_seq OWNED BY public.maestro.id;


--
-- Name: prenotazionecampo; Type: TABLE; Schema: public; Owner: nando
--

CREATE TABLE public.prenotazionecampo (
    id_campo integer NOT NULL,
    data date NOT NULL,
    orario numeric NOT NULL,
    id_giocatore_1 integer,
    id_giocatore_2 integer,
    id_maestro integer,
    data_prenotazione date
);


ALTER TABLE public.prenotazionecampo OWNER TO nando;

--
-- Name: admin id; Type: DEFAULT; Schema: public; Owner: nando
--

ALTER TABLE ONLY public.admin ALTER COLUMN id SET DEFAULT nextval('public.admin_id_seq'::regclass);


--
-- Name: campo id; Type: DEFAULT; Schema: public; Owner: nando
--

ALTER TABLE ONLY public.campo ALTER COLUMN id SET DEFAULT nextval('public.campo_id_seq'::regclass);


--
-- Name: giocatore id; Type: DEFAULT; Schema: public; Owner: nando
--

ALTER TABLE ONLY public.giocatore ALTER COLUMN id SET DEFAULT nextval('public.giocatore_id_seq'::regclass);


--
-- Name: maestro id; Type: DEFAULT; Schema: public; Owner: nando
--

ALTER TABLE ONLY public.maestro ALTER COLUMN id SET DEFAULT nextval('public.maestro_id_seq'::regclass);


--
-- Data for Name: admin; Type: TABLE DATA; Schema: public; Owner: nando
--

COPY public.admin (id, nome, cognome, email, password) FROM stdin;
1	Nando	Bastardo	nando@bastardo.it	Pisello
\.


--
-- Data for Name: campo; Type: TABLE DATA; Schema: public; Owner: nando
--

COPY public.campo (id, tiposport, superficie) FROM stdin;
1	tennis	terra
2	tennis	asfalto
3	tennis	asfalto
4	padel	asfalto
5	padel	terra
\.


--
-- Data for Name: giocatore; Type: TABLE DATA; Schema: public; Owner: nando
--

COPY public.giocatore (id, nome, cognome, username, password, email, numero, immagine_profilo, livello) FROM stdin;
\.


--
-- Data for Name: maestro; Type: TABLE DATA; Schema: public; Owner: nando
--

COPY public.maestro (id, nome, cognome, email, password) FROM stdin;
\.


--
-- Data for Name: prenotazionecampo; Type: TABLE DATA; Schema: public; Owner: nando
--

COPY public.prenotazionecampo (id_campo, data, orario, id_giocatore_1, id_giocatore_2, id_maestro, data_prenotazione) FROM stdin;
\.


--
-- Name: admin_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nando
--

SELECT pg_catalog.setval('public.admin_id_seq', 1, true);


--
-- Name: campo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nando
--

SELECT pg_catalog.setval('public.campo_id_seq', 5, true);


--
-- Name: giocatore_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nando
--

SELECT pg_catalog.setval('public.giocatore_id_seq', 1, false);


--
-- Name: maestro_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nando
--

SELECT pg_catalog.setval('public.maestro_id_seq', 1, false);


--
-- Name: admin admin_email_key; Type: CONSTRAINT; Schema: public; Owner: nando
--

ALTER TABLE ONLY public.admin
    ADD CONSTRAINT admin_email_key UNIQUE (email);


--
-- Name: admin admin_pkey; Type: CONSTRAINT; Schema: public; Owner: nando
--

ALTER TABLE ONLY public.admin
    ADD CONSTRAINT admin_pkey PRIMARY KEY (id);


--
-- Name: campo campo_pkey; Type: CONSTRAINT; Schema: public; Owner: nando
--

ALTER TABLE ONLY public.campo
    ADD CONSTRAINT campo_pkey PRIMARY KEY (id);


--
-- Name: giocatore giocatore_email_key; Type: CONSTRAINT; Schema: public; Owner: nando
--

ALTER TABLE ONLY public.giocatore
    ADD CONSTRAINT giocatore_email_key UNIQUE (email);


--
-- Name: giocatore giocatore_numero_key; Type: CONSTRAINT; Schema: public; Owner: nando
--

ALTER TABLE ONLY public.giocatore
    ADD CONSTRAINT giocatore_numero_key UNIQUE (numero);


--
-- Name: giocatore giocatore_pkey; Type: CONSTRAINT; Schema: public; Owner: nando
--

ALTER TABLE ONLY public.giocatore
    ADD CONSTRAINT giocatore_pkey PRIMARY KEY (id);


--
-- Name: giocatore giocatore_username_key; Type: CONSTRAINT; Schema: public; Owner: nando
--

ALTER TABLE ONLY public.giocatore
    ADD CONSTRAINT giocatore_username_key UNIQUE (username);


--
-- Name: maestro maestro_email_key; Type: CONSTRAINT; Schema: public; Owner: nando
--

ALTER TABLE ONLY public.maestro
    ADD CONSTRAINT maestro_email_key UNIQUE (email);


--
-- Name: maestro maestro_pkey; Type: CONSTRAINT; Schema: public; Owner: nando
--

ALTER TABLE ONLY public.maestro
    ADD CONSTRAINT maestro_pkey PRIMARY KEY (id);


--
-- Name: prenotazionecampo prenotazionecampo_pkey; Type: CONSTRAINT; Schema: public; Owner: nando
--

ALTER TABLE ONLY public.prenotazionecampo
    ADD CONSTRAINT prenotazionecampo_pkey PRIMARY KEY (id_campo, data, orario);


--
-- Name: prenotazionecampo prenotazionecampo_id_campo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nando
--

ALTER TABLE ONLY public.prenotazionecampo
    ADD CONSTRAINT prenotazionecampo_id_campo_fkey FOREIGN KEY (id_campo) REFERENCES public.campo(id);


--
-- Name: prenotazionecampo prenotazionecampo_id_giocatore_1_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nando
--

ALTER TABLE ONLY public.prenotazionecampo
    ADD CONSTRAINT prenotazionecampo_id_giocatore_1_fkey FOREIGN KEY (id_giocatore_1) REFERENCES public.giocatore(id);


--
-- Name: prenotazionecampo prenotazionecampo_id_giocatore_2_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nando
--

ALTER TABLE ONLY public.prenotazionecampo
    ADD CONSTRAINT prenotazionecampo_id_giocatore_2_fkey FOREIGN KEY (id_giocatore_2) REFERENCES public.giocatore(id);


--
-- Name: prenotazionecampo prenotazionecampo_id_maestro_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nando
--

ALTER TABLE ONLY public.prenotazionecampo
    ADD CONSTRAINT prenotazionecampo_id_maestro_fkey FOREIGN KEY (id_maestro) REFERENCES public.maestro(id);


--
-- PostgreSQL database dump complete
--

