<!-- Sidebar (Offcanvas) -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">

  <div class="offcanvas-header d-flex flex-column align-items-center">
    <img src="{{imgProfilo}}" class="img-fluid rounded-circle" style="width: 165px; height: 165px;">
    <p>{{nomeUtente}}</p>
  </div>


  <div class="offcanvas-body d-flex flex-column ">
    <ul class="list-group list-group-flush" style="cursor: pointer">
      <li routerLink="/profile/set-dati" class="list-group-item d-flex justify-content-between align-items-center " data-bs-dismiss="offcanvas">
        Il mio profilo
        <i class="fa-solid fa-angle-right"></i>
      </li>
      <li routerLink="/profile/reservations" class="list-group-item d-flex justify-content-between align-items-center" data-bs-dismiss="offcanvas">
        Le mie prenotazioni
        <i class="fa-solid fa-angle-right"></i>
      </li>
      <li routerLink="/profile/match-history" class="list-group-item d-flex justify-content-between align-items-center" data-bs-dismiss="offcanvas">
        Le mie partite
      <i class="fa-solid fa-angle-right"></i>
      </li>
      <li routerLink="/profile/abilities" class="list-group-item d-flex justify-content-between align-items-center" data-bs-dismiss="offcanvas">
        Le mie abilità di gioco
        <i class="fa-solid fa-angle-right"></i>
      </li>
      <li routerLink="/profile/progress-graph" class="list-group-item d-flex justify-content-between align-items-center" data-bs-dismiss="offcanvas">
        I miei progressi
        <i class="fa-solid fa-angle-right"></i>
      </li>
    </ul>
    <div class="mt-auto text-center"><button class="btn btn-danger w-100">Esci dal profilo</button></div>
  </div>
</div>
