<div class="d-flex justify-content-center align-items-center">
<div class="shadow-lg p-5 bg-body-tertiary rounded justify-content-center" style="width: 1150px">
  <h1>Storico partite</h1>
  <hr class="my-4" style="border-top: 1px solid black;">

  <div class="vstack align-items-center gap-3">
      <i class="fa-solid fa-inbox" style="font-size: 75px;"></i>
      <h2>Non hai ancora inserito nessuna partita</h2>
      <p style="font-size: 20px;">che ne dici di iniziare ora?</p>
    <button routerLink="/profile/reservation-history" class="round-button mt-4">
      <i class="fas fa-plus"></i>
    </button>
    <label> Aggiungi </label>
  </div>


</div>
</div>
