<img class="mb-3" src="/assets/image/headerMatch1.jpg" style="width: 100%; height: 400px;">
<div class="d-flex justify-content-center align-items-center mt-5" *ngFor="let m of matchInAttesa">
  <div class="shadow-lg p-5 bg-body-tertiary justify-content-center" style="width: 1150px; border-radius: 15px">
   <div class="vstack">
    <div class="hstack gap-4">
      <img src="/assets/image/icons8-tennis-60.png" style="height: 60px; width: 60px;">
      <div class="vstack gap-2">
        <h2>TENNIS</h2>
        <div>
        <img class="me-2" src="/assets/image/icons8-calendario-24.png">
        <label>{{ getDataFormattata(m.data) }} - {{ m.orario }}:00-{{ getOrarioFineMatch(m.orario) }}:00</label>
        </div>
      </div>
    </div>
     <hr class="my-4" style="border-top: 1px solid black;">
     <div class="hstack">
      <div class="vstack gap-4 align-items-center">
          <div>
            <img class="me-1" src="/assets/image/icons8-campo-32.png" style="height: 24px;">
            <label>Tipo di campo</label>
          </div>
        <p>{{ campi[m.campo] }}</p>
      </div>
       <div class="vstack gap-4 align-items-center">
          <div>
            <img class="me-1" src="/assets/image/icons8-stella-emoji-24.png">
            <label>Livello</label>
          </div>
          <p>{{ livelli[m.giocatore1] }}</p>
       </div>
       <div class="vstack gap-4 align-items-center">
            <div>
              <img class="me-1" src="/assets/image/icons8-orologio-24.png">
              <label>Fine iscrizione</label>
            </div>
         <p>Oggi alle {{ getOrarioFineAttesa(m.orario_prenotazione) }}</p>
       </div>

     </div>
   </div>
    <hr class="my-4" style="border-top: 1px solid black;">
        <div class="vstack gap-2">

          <div class="hstack gap-5">
            <div class="vstack align-items-center">
              <img src="/assets/image/iconaDefault.jpg" style="height: 50px; width: 50px; border-image: round">
              <label> {{usernames[m.giocatore1]}}</label>
              <label> liv - {{ livelli[m.giocatore1] }}</label>
            </div>
            <div class="vr" style="height: 130px;"></div>
            <div class="vstack align-items-center mt-4">
              <div class="vstack align-items-center">
                <button (click)="completaMatch(17,2)" class="round-button">
                  <i class="fas fa-plus"></i>
                </button>
                <label> Unisciti </label>
              </div>
            </div>
          </div>
        </div>

  </div>
</div>
