<div class="shadow-lg p-3 mb-5 mt-3 bg-body-tertiary rounded nav nav-underline justify-content-center">
<div class="hstack gap-3 justify-content-center" style="cursor: pointer">
  <div routerLink="/profile/set-dati" class="nav-link p-2">Il mio profilo</div>
  <div routerLink="/profile/reservations" class="nav-link p-2">Le mie prenotazioni</div>
  <div routerLink="/profile/match-history" class="nav-link p-2">Le mie partite</div>
  <div routerLink="/profile/abilities" class="nav-link p-2">Le mie abilità di gioco</div>
  <div routerLink="/profile/progress-graph" class="nav-link p-2">I miei progressi</div>
</div>
</div>
<router-outlet></router-outlet>

