<div class="d-flex justify-content-center align-items-center">
<div class="shadow-lg p-5 bg-body-tertiary rounded justify-content-center" style="width: 1150px">
  <h1>Prenotazioni</h1>
  <hr class="my-4" style="border-top: 1px solid black;">

  <div class="vstack g-3 justify-content-center nav nav-underline">
    <div class="hstack g-3 mb-4 mt-4">

      <div id="nav-item" class="d-flex gap-3">
        <div routerLink="/reservation" class="nav-link">
          <strong>Prossime</strong>
        </div>
        <div class="vr mt-2" style="height: 25px;"></div>
        <div routerLink="/profile/reservation-history" class="nav-link">
          <strong>Cronologia</strong>
        </div>
      </div>

    </div>
  </div>

</div>

</div>
