<div class="container mt-5">
  <h2 class="text-center">Prenotazione Totale Campo</h2>

  <div class="card">
    <div class="card-body">

      <div *ngIf="campo">
        <div class="mb-3">
          <!-- Dettagli Campo, Data e Orario -->
          <p><strong>Campo:</strong> {{ campo?.id }}</p>
          <p><strong>Data:</strong> {{ date | date: 'dd/MM/yyyy' }}</p>
          <p><strong>Orario:</strong> {{ time }}:00</p>

          <label for="idGiocatore1" class="form-label">ID Giocatore 1</label>
          <input type="number" id="idGiocatore1" class="form-control" [(ngModel)]="idGiocatore1" placeholder="Inserisci l'ID Giocatore 1" required>

        </div>
        <div class="mb-3">
          <label for="idGiocatore2" class="form-label">ID Giocatore 2</label>
          <input type="number" id="idGiocatore2" class="form-control" [(ngModel)]="idGiocatore2" placeholder="Inserisci l'ID Giocatore 2" required>
        </div>

        <!-- Bottone per completare la prenotazione -->
        <button class="btn btn-primary mt-3" [disabled]="!idGiocatore1 || !idGiocatore2" (click)="prenota()">Completa Prenotazione</button>
      </div>

    </div>
  </div>
</div>
