@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.long-button {
  font-family: Calibri Leelawadee, sans-serif;
  padding: 12px 30px; /* Distanza tra il testo e i bordi */
  width: 250px; /* Larghezza del bottone */
  border-radius: 30px; /* Bordi arrotondati */
  border-color: #0085ff;
  background-color: white;
  color: #0085ff; /* Colore del testo */
  font-size: 16px; /* Dimensione del testo */
  cursor: pointer; /* Cursore pointer per indicare che è cliccabile */
  text-align: center; /* Allinea il testo al centro */
}

.long-button:hover {
  border-color: #020940;
  background-color: white;
  color: #020940;
}


h5 {
  font-family: "Calibri Leelawadee", sans-serif;

}
