@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


.long-button {
  font-family: Calibri Leelawadee, sans-serif;
  padding: 12px 30px; /* Distanza tra il testo e i bordi */
  width: 250px; /* Larghezza del bottone */
  border-radius: 30px; /* Bordi arrotondati */
  border: 2px solid #020940; /* Colore del bordo */
  background-color: #020940; /* Colore di sfondo */
  color: white; /* Colore del testo */
  font-size: 16px; /* Dimensione del testo */
  cursor: pointer; /* Cursore pointer per indicare che è cliccabile */
  text-align: center; /* Allinea il testo al centro */
}

.long-button:hover {
  background-color: rgba(2, 9, 64, 0.94); /* Colore di sfondo al passaggio del mouse */
}


#nav-item {
  cursor: pointer;
  font-family: "Calibri Leelawadee", sans-serif;
  font-size: 18px
}


.form-label {
  color: grey;
}

.form-label {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

h1 {
  font-family: "Calibri", sans-serif;
}
