.mt-custom {
  margin-top: 6rem;
}


/* Modifica il CSS per le icone dentro i bottoni */
.btn i {
  font-size: 20px;
  cursor: pointer;
  color: white; /* Imposta il colore dell'icona a bianco */
}

.btn {
  border: none;
  background-color: #0085ff; /* Colore blu per il bottone */
}

.btn:hover {
  background-color: #0065c3;
}

.card {
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.card-text {
  font-family: Calibri Leelawadee, sans-serif;
  color: gray;
  font-size: 0.9rem;

}

.card-title {
  font-size: 1.5rem;

}
