<body>
<div>
  <h1 class="accedi">Inserisci la tua nuova Password</h1>
  <h2 class="dati">Inserisci la tua nuova per ricevere una nuova password</h2>

  <form class="login" id="recuperoForm">
    <label>Password</label>
    <input type="password" id="newPassword" [(ngModel)]="userObject.newPassword"  name="newPassword" placeholder="Inserisci la tua nuova Password" required>

    <label>Conferma Password</label>
    <input type="password" id="verifyNewPassword" [(ngModel)]="userObject.verifyNewPassword"  name="verifyNewPassword" placeholder="Veririfca la tua nuova Password" required>

    <button type="submit" (click)="setNewPass()">Invia</button>

    <div class="forgot-password">
      <a href="/login">Annulla</a>
    </div>
  </form>


</div>

</body>
