<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Prenotazione Campo</h2>

      <!-- Se idCampo, orario o data non sono definiti, mostra un messaggio di errore -->
      <div *ngIf="!idCampo || !orario || !date; else bookingForm">
        <p class="text-danger text-center">ID del campo, orario o data non validi. Si prega di riprovare.</p>
      </div>

      <!-- Modulo di prenotazione -->
      <ng-template #bookingForm>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Campo {{ idCampo }} - Orario: {{ orario }}:00</h5>

            <!-- Mostra la data non modificabile -->
            <div class="mb-3">
              <label for="date" class="form-label">Data</label>
              <input type="text" id="date" class="form-control" [value]="date" disabled>
            </div>




            <!-- Pulsanti per i vari tipi di prenotazione -->
            <div class="d-flex justify-content-between mt-3">
              <button class="btn btn-success" (click)="goToBooking('total')">Prenotazione Totale</button>
              <button class="btn btn-primary" (click)="goToBooking('partial')">Prenotazione Parziale</button>
              <button class="btn btn-warning" (click)="goToBooking('lesson')">Prenotazione Lezione</button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
