<div class="d-flex justify-content-center align-items-center">
<div class="shadow-lg p-5 bg-body-tertiary rounded justify-content-center" style="width: 1150px">
  <h1>Profilo</h1>
  <hr class="my-4" style="border-top: 1px solid black;">

  <div class="vstack g-3 justify-content-center nav nav-underline">
    <div class="hstack gap-3 mb-2 mt-2">

      <div id="nav-item" class="d-flex gap-3">
        <div routerLink="/profile/set-dati" class="nav-link">
          <strong>Modifica Dati</strong>
        </div>
        <div class="vr mt-2" style="height: 25px;"></div>
        <div routerLink="/profile/set-password" class="nav-link">
          <strong>Modifica Password</strong>
        </div>
      </div>
    </div>

    <div class="vstack justify-content-center">
      <div class="my-3">
      <label for="inputPassword5" class="form-label">Password</label>
      <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Scrivi la nuova password">
      </div>

      <div class="my-3">
      <label for="inputPassword" class="form-label">Ripeti la password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Scrivi di nuovo la password">
      </div>

    </div>

    <div class="hstack g-3 mb-4 mt-4">
      <button type="submit" class="long-button justify-content-center">Salva modifiche</button>
    </div>
  </div>
</div>
</div>



